* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  list-style: none;
}

/* Header styling */

.header-main-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: rgb(45, 45, 127);
  color: white;
}
.logo-container {
  justify-self: flex-start;
  align-self: left;
  font-size: 1.6em;
  font-weight: bold;
  padding: 0px 0 0px;
}
.logo {
  width: 10%;
  height: auto;
  padding-top: 5px;
}
.logo:hover {
  color: #333;
}
.links-container {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
}
.links-container > * {
  padding: 10px;
  color: white;
  text-decoration: none;
}
.links-container > *:hover {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 1px;
}

/* Homepage CSS */
.main-home-container {
  height: 88vh; /* Corrected typo: vh */
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 90% 10%;
  gap: 0px;
  background-color: rgb(45, 45, 127);
}

.grid-item {
  display: flex;
}

.introduction {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  font-size: 1.5em;
  color: white;
}

.introduction > h4,
h2 {
  color: white;
  padding: 0;
  margin: 0;
  border: none;
}
.introduction > h1 {
  color: rgba(244, 158, 0, 0.817);
  padding: 0;
  margin: 0;
  border: none;
}

.image {
  grid-row: 2 / span 2/3;
  grid-column: 1 / span 1/3;
}

.social-links {
  grid-row: 1 / span 1/3;
  grid-column: 3 / span 3/4;
}
